<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	  
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">

<h1 class="font-weight-bold">Employee Management System</h1>
<p>
Start collecting your employee information in smarter way. We provide very efficient and smarter way of handling information about employees.
</p>

</div>


</section>

</body>
</html>